# ===================================== #
# Carpetas de Unity
# ===================================== #
Temp
Library
Obj
obj
 
# ===================================== #
# Visual Studio / MonoDevelop 
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
*.vs
 
# ===================================== #
# OS 
# ===================================== #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
.AppleDouble
.LSOverride
 
# Instaladores de Windows
*.cab
*.msi
*.msm
*.msp
 
# Configurador de carpetas
Desktop.ini
icon.ico
 
# Papelera de reciclaje utilizada en archivos compartidos
$RECYCLE.BIN/
 
# ===================================== #
# Personalizados
# ===================================== #
# Relacionado con el Proyecto

# COPYRIGHTED / ASSET STORE
 
# GITEYE
*.project
